extends part/_page_template

append settings

  - var page_title       = 'jquery_plugin page'
  - var isMain           = true
  - var current_page     = 'jquery_plugin.html'
  - var using_jquery     = true
  - var using_angular    = false
  - var meta_description = 'Good Days Main Page - Have a Good Time :-)'
  - var meta_keywords    = 'Front-End, Web, Design, Development'

  - var body_classlist   = ['index']
  - var greeting         = 'Good Days! ^▽^'
  - var server_module    = 'BrowserSync'


block main
  //slide 
  h4 제이쿼리 플러그인 
 