extends part/_page_template

append settings

  - var page_title       = 'portfolio'
  - var isMain           = true
  - var current_page     = 'profile.html'
  - var using_jquery     = true
  - var using_angular    = false
  - var meta_description = 'Good Days Main Page - Have a Good Time :-)'
  - var meta_keywords    = 'Front-End, Web, Design, Development'

  - var body_classlist   = ['index']
  - var greeting         = 'Good Days! ^▽^'
  - var server_module    = 'BrowserSync'
block link_head
  include part/parts/head/_link_head
  link(rel='stylesheet', href='assets/css/profile.css')
  //- link(rel='stylesheet', href='assets/css/bootstrap.min.css')


block main

  // 개인프로필
  .profile_wrapper
    h1 Dreams, passion, and I
    .box.box1.clearfix
      img(src='images/profile.jpg')
    .box.box2 
        h2 Seong HwaJung
        p.detail
          strong Position: 
          |  Front-End Developer
        p.detail
          strong 사는곳:
          |  서울시 관악구 신림동 / 태어난 곳 : 거제도
        p.detail
          strong 취미  : 
          |  헬스, 탁구, 드론
        p.detail
          strong 특기  :
          |  마라톤, 축구, 단거리 100M
        p.detail
          strong 각오 <br><br>
          |  IT는 어느곳보다 변화가 빠르게 일어나는 생태환경을 가지고 있습니다.<br>
          |  남들보단 늦게 시작했지만 남들보다 뒤쳐지지 않게 Awesome 한 인재가 되도록
          |  노력하겠습니다.
        p.detail
          strong Skills: 
          span.label.label-info.tags html5 
          &nbsp;
          span.label.label-info.tags css3 
          &nbsp;
          span.label.label-info.tags javascript 
          &nbsp;
          span.label.label-info.tags jquery 
          &nbsp;
          span.label.label-info.tags jade 
          &nbsp;
          span.label.label-info.tags sass 
          &nbsp;
          span.label.label-info.tags bootstrap3 
    // /col
    .box.box3.clearfix
      h1 Skill Tree
      .inner.box.box5 
        img(src='images/skill1.jpg')
      .inner.box.box6 
        img(src='images/skill2.jpg')
      .inner.box.box7 
        img(src='images/skill3.jpg')
    .box.box4
      h1 My Front-End Skills
      #chartContainer(style='height: 300px; width: 100%;')
block scripts
  include part/parts/scripts/_scripts_footer
  script(type='text/javascript', src='assets/js/jquery.canvasjs.min.js')
  script(type='text/javascript', src='js/customCanvas.js')