extends part/_page_template

append settings

  - var page_title       = '★ scrolling page ★'
  - var isMain           = true
  - var current_page     = 'scrolling_page.html'
  - var using_jquery     = true
  - var using_angular    = false
  - var meta_description = 'Good Days Main Page - Have a Good Time :-)'
  - var meta_keywords    = 'Front-End, Web, Design, Development'

  - var body_classlist   = ['index']
  - var greeting         = 'Good Days! ^▽^'
  - var server_module    = 'BrowserSync'

block link_head
  include part/parts/head/_link_head
  link(rel='stylesheet', href='assets/css/main.css')

block main
  h2 스크롤링 페이지
  


block scripts
  include part/parts/scripts/_scripts_footer
  script(type='text/javascript', src='js/test.js')