button.back-to-top(type='button')
      span.label go to top
footer.footer-distributed.clearfix
      .footer-left
        div.contact
          h3 contact me
          p name : Seong Hwa Jung
          p call : 010-7765-6686

        div.footer-links
          a(href='profile.html') profile

          a(href='parallex_page.html') parallax

          a(href='scrolling_page.html') scrolling page

          a(href='jquery_ui.html') jQuery ui
          p.footer-company-name Copyright &copy; seong0 All rightes reserved.
          p Web Design by seong0 in kipfa
      .footer-right
        p seong0