//- nav#gnb
div&attributes({
	'class' : ['nav-collapse','collapse'],
	'role'  : 'navigation'
})
	+navigation([
		{
			'href': 'profile.html',
			'content': 'PROFILE',
			'icon':'icon-file'
		},
		{
			'href': 'parallex_page.html',
			'content': 'PARALLAX SCROLLING',
			'icon':'icon-star'

		},
		{
			'href': 'who_i_am.html', 
			'content': 'Who I am ?' ,
			'icon':'icon-heart'
		},
		{
			'href': 'jquery_ui.html',
			'content': 'jQuery UI',
			'icon':'icon-user-md'
		},
	])