header.hero-header
  .inner
    .slideshow
      .slideshow-slides
        a#slide-1.slide(href='#')
          img(src='images/slide-1.jpg', alt='키보드앞에 여자손이 보인다.')
        a#slide-2.slide(href='#')
          img(src='images/slide-2.jpg', alt='다양한 팜플릿과 낙서')
        a#slide-3.slide(href='#')
          img(src='images/slide-3.jpg', alt='핸드폰과 이어폰')
        a#slide-4.slide(href='#')
          img(src='images/slide-4.jpg', alt='이어폰')
      .slideshow-nav
        a.prev(href='#', role='button') Prev
        a.next(href='#', role='button') Next
      .slideshow-indicator
      #slide-control-buttonset.wrapper
         a#auto-slide-btn(href='', role='button')
           i.icon-play(aria-label='슬라이드 자동 재생')
         a#stop-slide-btn(href='', role='button')
           i.icon-pause(aria-label='슬라이드 정지')
.container.clearfix
      .header.row
          .navbar
            .navbar-inner
              h1
                a.brand(href='index.html') person project by seong0
              include _gnb