header.hero-header
  .inner
    .slideshow
      .slideshow-slides
        a#slide-1.slide(href='#')
          img(src='images/slide-1.jpg', width='1600px' height='465px' alt='')
        a#slide-2.slide(href='#')
          img(src='images/slide-2.jpg', alt='')
        a#slide-3.slide(href='#')
          img(src='images/slide-3.jpg', alt='')
        a#slide-4.slide(href='#')
          img(src='images/slide-4.jpg', alt='')
      .slideshow-nav
        a.prev(href='#') Prev
        a.next(href='#') Next
      .slideshow-indicator
      #slide-control-buttonset.wrapper
         a#auto-slide-btn(href='', role='button')
           i.icon-play(aria-label='슬라이드 자동 재생')
         a#stop-slide-btn(href='', role='button')
           i.icon-pause(aria-label='슬라이드 정지')
.container.clearfix
      .header.row
          .navbar
            .navbar-inner
              h1
                a.brand(href='index.html') person project by seong0
              include _gnb